My workflow 3.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -16,
        -160
      ],
      "id": "89fa30c8-29b9-450f-adfc-4ac5324e8ed2",
      "name": "When chat message received",
      "webhookId": "41cb6150-856c-428f-95ed-5f4b4b4bfaaa"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": " ou are an intelligent email processing agent. Based on the user’s instruction, you must perform the requested task accordingly:\n\nIf the user asks to summarize, generate a concise professional summary (maximum 150 words) highlighting the main purpose, key points, action items, responsible parties (if mentioned), important dates or deadlines, and specific instructions. Exclude greetings, signatures, disclaimers, and casual language. Focus only on actionable and decision-relevant information. Provide the output as a single professional paragraph.\n\nIf the user asks to compose or send an email, generate a polished, ready-to-send email including a clear subject line and a well-structured paragraph-style body. Maintain a formal, business-appropriate tone. Clearly communicate the main message, required actions, deadlines (if any), and relevant instructions. Avoid unnecessary details and informal language. and send the email to the user given mail id."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        192,
        -160
      ],
      "id": "9a208690-1ff0-4398-9d5c-792ff9382038",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        64,
        48
      ],
      "id": "3023e419-7c7d-461c-aab7-42e391c70ee0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "LEKQbWgb2hGag5F6",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        352,
        48
      ],
      "id": "34aacd05-47be-4d55-a55c-da65d99197ca",
      "name": "Get many messages in Gmail",
      "webhookId": "e8169ecf-b44f-4ff0-931f-61b44cdc61c3",
      "credentials": {
        "gmailOAuth2": {
          "id": "pcPITtWsaX0cYuhl",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        544,
        48
      ],
      "id": "e08789d3-f88f-4e3f-9cc9-e9c7deaccbc5",
      "name": "Send a message in Gmail",
      "webhookId": "2bfcddab-e333-456a-86bd-db0012336e4b",
      "credentials": {
        "gmailOAuth2": {
          "id": "pcPITtWsaX0cYuhl",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3b703dbe-706c-4303-bf9f-e1eb0c0a8dcc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8adaca54330cd6b9634daa3fb442badc9ec0a45c6d8ab8bae4731b22f954302e"
  },
  "id": "Ci05cZQJS2ZGnILp",
  "tags": []
}